<div class="topic-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="clo-md-6 col-md-offset-3">
        <% if logged_in? %>
          <h1 class="text-center">Add comment</h1>
          <%= form_for @comment do |c| %>
          <%= c.hidden_field :topic_id, :value => @comment.topic_id %>
          <%= c.hidden_field :user_id, :value => @comment.user_id %>
            
            <!--コメント投稿機能-->
            <div class="form-group">
              <%= c.label :comment %>
              <%= c.text_area :comment, class: 'form-control' %>
            </div>
            
            <!--投稿ボタン-->
            <%= c.submit '投稿', class: 'btn btn-black btn-block' %>
            
          <% end %>
       
        <% end %>
      </div>
    </div>
  </div>
</div>