<div class="topic-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="clo-md-6 col-md-offset-3">
        <% if logged_in? %>
          <h1 class="text-center">Add picture</h1>
          <%= form_for @topic do |f| %>
            
            <!--画像投稿機能-->
            <div class="form-group">
              <%= f.label :image %>
              <%= f.file_field :image%>
            </div>
            
            <!--descriptionの投稿機能-->
            <div class="form-group">
              <%= f.label :description %>
              <%= f.text_area :description, class: 'form-control' %>
            </div>
            
            <!--comment投稿機能-->
            <div class="form-group">
              <%= f.label :comment %>
              <%= f.text_area :comment, class: 'form-control' %>
            </div>
            
            <!--投稿ボタン-->
            <%= f.submit '投稿', class: 'btn btn-black btn-block' %>
            
          <% end %>
       
        <% end %>
      </div>
    </div>
  </div>
</div>